<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="logs/internal_log.log">

  <variable name="logDirectory" value="${basedir}/logs"/>
	<variable name="variable1" value="${newline}date：	${date}${newline}level：	${level}${newline}logger：	${logger}${newline}machinename：	${machinename}
${newline}message：	${message}${newline}appdomain：	${appdomain}${newline}assembly-version：	${assembly-version}${newline}basedir：	${basedir}
${newline}callsite：	${callsite}${newline}callsite-linenumber：	${callsite-linenumber}${newline}counter：	${counter}${newline}nlogdir：	${nlogdir}
${newline}processid：	${processid}${newline}processname：	${processname}${newline}specialfolder：	${specialfolder}
${newline}stacktrace: ${stacktrace}${newline}-----------------------------------------------------------" />

	<targets async="true">
	  <target xsi:type="File" name="info" fileName="${basedir}/logs/info_${shortdate}.log"
				  layout="${longdate} ${logger} ${callsite} ${uppercase:${level}} ${message}" encoding="UTF-8"/>
	  
	  <target xsi:type="File" name="err" fileName="${basedir}/logs/err_${shortdate}.log"
				  layout="${longdate} ${logger} ${callsite} ${uppercase:${level}} ${message} ${newline} ${onexception:${exception:format=tostring} ${newline} ${stacktrace}" encoding="UTF-8"/>
  </targets>

  <rules>
	  <logger name="*" levels="Error" writeTo="err" />
	  <logger name="*" level="info" writeTo="info" />
  </rules>
</nlog>
